@use "../tools/mediaQueries.scss";
@use "../tools/toDVW.scss";

@mixin display1() {
  @include displayFontBase;
  font-size: #{toDVW.toMobileDVW(44)};

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(65)};
  }
}

@mixin display2() {
  @include displayFontBase;
  font-size: #{toDVW.toMobileDVW(36)};

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(49)};
  }
}

@mixin display3() {
  @include displayFontBase;
  font-size: #{toDVW.toMobileDVW(26)};

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(37)};
  }
}

@mixin display4() {
  @include displayFontBase;
  font-size: #{toDVW.toMobileDVW(22)};

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(28)};
  }
}

@mixin display5() {
  @include displayFontBase;
  font-size: #{toDVW.toMobileDVW(19)};

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(21)};
  }
}

@mixin display6() {
  @include displayFontBase;
  font-size: #{toDVW.toMobileDVW(16)};

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(16)};
  }
}

@mixin displayFontBase() {
  font-family: "Sohne", sans-serif;
  line-height: 110%;
}
