@import "../tools/mediaQueries.scss";
@import "../tools/toDVW.scss";

@mixin bodyFont() {
  font-family: "Inter", sans-serif;
  font-size: #{toMobileDVW(14)};
  line-height: 150%;

  @include aboveTablet {
    font-size: #{toDesktopDVW(16)};
    line-height: 120%;
  }
}

@mixin captionFont() {
  font-family: "Inter", sans-serif;
  font-size: #{toMobileDVW(12)};
  line-height: 140%;

  @include aboveTablet {
    font-size: #{toDesktopDVW(12)};
    line-height: 130%;
  }
}
