@use "../tools/mediaQueries.scss";
@use "../tools/toDVW.scss";

@mixin bodyFont() {
  font-family: "Inter", sans-serif;
  font-size: #{toDVW.toMobileDVW(14)};
  line-height: 150%;

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(16)};
    line-height: 120%;
  }
}

@mixin captionFont() {
  font-family: "Inter", sans-serif;
  font-size: #{toDVW.toMobileDVW(12)};
  line-height: 140%;

  @include mediaQueries.aboveTablet {
    font-size: #{toDVW.toDesktopDVW(12)};
    line-height: 130%;
  }
}
