@use "../tools/mediaQueries.scss";
@use "../tools/toDVW.scss";

@mixin bodyFont() {
  font-family: "Inter", sans-serif;
  font-size: max(#{toDVW.toMobileDVW(14)}, 14px);
  line-height: 150%;

  @include mediaQueries.aboveTablet {
    font-size: max(#{toDVW.toDesktopDVW(16)}, 14px);
    line-height: 120%;
  }
}

@mixin captionFont() {
  font-family: "Inter", sans-serif;
  font-size: max(#{toDVW.toMobileDVW(12)}, 12px);
  line-height: 140%;

  @include mediaQueries.aboveTablet {
    font-size: max(#{toDVW.toDesktopDVW(12)}, 12px);
    line-height: 130%;
  }
}
