.nabigazioa {
  display: flex;
  justify-content: center;
  padding-bottom: var(--size-tiny);
}

.estekaZerrenda {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.esteka {
  padding: var(--size-small);

  color: var(--color);

  transition: color 0.4s ease;

  &:hover {
    color: var(--hover-color);
  }
}

.active {
  border-bottom: 3px solid var(--color);
}

.gainburuLink {
  &:focus-visible {
    outline: 3px solid var(--hover-color);
  }
}
