---
import type { Paragraph } from "models/OrriBasikoa";
import ParagraphIrudia from "./ParagraphIrudia.astro";
import ParagraphTestua from "./ParagraphTestua.astro";

interface Props {
  paragraph: Paragraph;
}

const { paragraph } = Astro.props;
---

<div>
  {
    paragraph.type === "ComponentParagraphIrudia" && (
      <ParagraphIrudia media={paragraph.media} />
    )
  }

  {
    paragraph.type === "ComponentParagraphTestua" && (
      <ParagraphTestua testua={paragraph.testua} />
    )
  }
</div>

<style lang="scss">
  @use "../../../style/tools/mediaQueries.scss";

  div {
    margin-bottom: var(--space-05-mobile);

    &:not(:last-child) {
      @include mediaQueries.aboveTablet {
        margin-bottom: var(--space-05-desktop);
      }
    }
  }
</style>
