@import '../../../styles/tools/mixins/font.scss';
@import '../../../styles/tools/mediaQueries.scss';

.card {
  position: relative;

  @media #{$fromTablet} {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: var(--size-base);
  }
}

.ekintzaInformation {
  display: flex;
  flex-direction: column;
}

.ekintzaCardList {
  padding-top: var(--size-base);
  padding-bottom: var(--size-base);
  display: grid;
  gap: var(--size-large);
}

.cardHeadline {
  @include largeFont;
  font-weight: var(--font-weight-regular);

  order: 3;
}

.kartela {
  height: 9rem;
  width: auto;
  justify-self: end;
}

.cardLink {
  margin-bottom: var(--size-base);

  font-family: 'Abril Fatface', sans-serif;
  @include gargantuanFont;

  order: 2;
  transition: color 0.4s ease;

  &:hover {
    color: var(--color-morea);
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.cardHitzordua {
  @include largeFont;

  order: 1;
}
