---
import type { OrriBasikoa } from "models/OrriBasikoa";
import Layout from "../../layouts/Layout.astro";
import Header from "views/_components/Header.astro";
import Footer from "views/_components/Footer.astro";
import MarkdownParser from "views/_components/MarkdownParser.astro";

interface Props {
  orriBasikoa: OrriBasikoa;
}

const { orriBasikoa } = Astro.props;
---

<Layout title={orriBasikoa.izenburua}>
  <Header />

  <main>
    <h1>{orriBasikoa.izenburua}</h1>
    <article>
      {
        orriBasikoa.edukiLibrea.map((paragraphTestua) => (
          <MarkdownParser content={paragraphTestua.testua} />
        ))
      }
    </article>
  </main>

  <Footer />
</Layout>

<style lang="scss">
  @use "../../style/mixins/displayFonts.scss";

  main {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: var(--space-05-desktop);
    padding-left: var(--space-07-desktop);
    padding-right: var(--space-07-desktop);
    padding-top: var(--space-07-desktop);
    padding-bottom: var(--space-09-desktop);

    color: var(--marroia);
  }

  h1 {
    grid-column: 4 / span 6;

    @include displayFonts.display1;
  }

  article {
    grid-column: 4 / span 6;
  }
</style>
