@import '../../styles/tools/mixins/font.scss';

.wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: var(--size-large);

  padding-left: var(--size-huge);
  padding-right: var(--size-huge);
  padding-top: var(--size-huge);
  margin-bottom: var(--size-huge);
}

.section {
  position: relative;

  &:hover {
    & > .title {
      transform: translateY(-200%);
      filter: none;
    }
  }
}

.title {
  position: absolute;
  top: 0;
  left: 0;

  font-family: 'Abril Fatface', sans-serif;
  font-size: clamp(2rem, 4.2dvw, 5rem);
  color: var(--color-grisa-3);

  transition: transform 0.3s ease-in-out;
  transform: translateX(-50%) rotate(-90deg) translateX(-50%) translateY(-120%);
}

.card {
  position: relative;
  display: flex;
  gap: var(--size-base);
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: var(--size-medium);
  }
}

.ekintzaCardList {
  padding: var(--size-base);
  display: grid;
  gap: var(--size-medium);
}

.cardTitle {
  grid-area: izenburua;

  font-family: 'Abril Fatface', sans-serif;
  @include gargantuanFont;
}

.cardHeadline {
  grid-area: titularra;

  @include largeFont;
  font-weight: var(--font-weight-regular);
}

.kartela {
  grid-area: kartela;
  height: 8rem;
  width: auto;
  justify-self: end;
}

.cardLink {
  transition: color 0.4s ease;

  &:hover {
    color: var(--color-morea);
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
