@import '../../../styles/tools/mixins/font.scss';

.wrapper {
  display: flex;
  justify-content: center;
  padding: var(--size-base);
}

.esteka {
  &:not(:last-child) {
    margin-right: var(--size-mini);
  }

  transition: color 500ms ease-out 100ms;
  &:hover {
    color: var(--color-morea);
  }

  &:focus-visible {
    outline: 2px solid var(--color-morea);
  }
}

.geziaLogo {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease;

  height: var(--size-base);
  width: auto;

  @keyframes bounce-2 {
    0% {
      transform: rotate(270deg) translateX(0);
    }
    50% {
      transform: rotate(270deg) translateX(var(--size-tiny));
    }
    100% {
      transform: rotate(270deg) translateX(0);
    }
  }
}

.oinaLink {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-tiny);

  @include tinyFont;

  transition: color 0.4s ease;

  svg {
    path {
      transition: fill 0.4s ease;
      fill: var(--color-beltza);
    }
  }

  &:focus-visible {
    outline: 3px solid var(--color-morea);
  }

  &:hover {
    color: var(--color-morea);

    svg {
      path {
        transition: fill 0.4s ease;
        fill: var(--color-morea);
      }
    }
  }
}

.igoWrapper {
  display: flex;
  justify-content: center;
  // padding-a jartzen diogu geziaren animazioari lekua uzteko
  padding-top: var(--size-small);
}
