@import '../../styles/tools/mixins/font.scss';

.atala {
  padding-top: var(--size-base);
}

.edukia {
  font-weight: var(--font-weight-regular);
  @include baseFont;

  p:not(-last-child) {
    margin-bottom: var(--size-base);
  }

  h1 {
    @include gargantuanFont;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--size-base);
  }

  h2 {
    @include hugeFont;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--size-base);
  }

  h3 {
    @include largeFont;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--size-base);
  }

  h4 {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--size-mini);
  }

  ul {
    margin-bottom: var(--size-base);
  }

  li {
    list-style: disc inside;
    margin-bottom: var(--size-small);
  }

  table {
    margin-bottom: var(--size-base);
  }

  th {
    padding: var(--size-small);
  }

  td {
    padding: var(--size-small);
    border: 1px solid var(--color-beltza);
  }

  hr {
    border: 2px solid var(--color-beltza);
    margin-bottom: var(--size-base);
    margin-top: var(--size-base);
  }
}
