@import '../../styles/tools/mixins/font.scss';

.contentWrapper {
  padding: var(--size-huge) 0;
  font-weight: 300;
  @include largeFont;
}

.edukia {
  margin-bottom: var(--size-large);

  p:not(:last-child) {
    margin-bottom: var(--size-base);
  }
}

.izanLabaWrapper {
  display: flex;
  justify-content: flex-end;
}

.callToAction {
  border: 2px solid var(--color-beltza);
  @include largeFont;
  padding: var(--size-base);
  background: var(--color-zuria);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;

  transition: color 0.4s ease;
  &:hover {
    color: var(--color-morea);
  }

  &:focus {
    outline: 3px solid var(--color-morea);
  }
}

.gezia {
  margin-right: var(--size-tiny);
}
