// Hemos visto que .98 es una solución standard para no romper los estilos en las décimas de pixel entre un mediaquerie y otro.
// OJO! Tienen que ser unidades fraccionarias, .99 no funciona
// https://stackoverflow.com/questions/70120238/do-i-consider-decimal-point-of-px-in-media-query
$mobileMax: 767.98px;

$tabletMin: 768px;
$tabletMax: 1023.98px;

$desktopMin: 1024px;

$onlyMobile: 'only screen and (max-width: ' + $mobileMax + ')';
$onlyTablet: 'only screen and (min-width: ' + $tabletMin + ') AND (max-width: ' +
  $tabletMax + ')';
$onlyDesktop: 'only screen and (min-width: ' + $desktopMin + ')';

$fromTablet: 'only screen and (min-width: ' + $tabletMin + ')';
$fromDesktop: 'only screen and (min-width: ' + $desktopMin + ')';
