@import '../../../../styles/tools/mediaQueries.scss';

.wrapper {
  width: 100%;
  display: grid;
  grid-column-gap: var(--size-tiny);
  grid-row-gap: var(--size-base);

  grid-template-columns: repeat(3, 1fr);

  @media #{$fromTablet} {
    grid-template-columns: repeat(5, 1fr);
  }
}

.izena {
  margin-bottom: var(--size-tiny);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.zenbakia {
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-morea);
}

.alergenoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoWrapper {
  margin-bottom: var(--size-mini);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: var(--size-medium);

  @media #{$fromDesktop} {
    height: var(--size-huge);
  }
}

.logo {
  height: var(--size-medium);

  @media #{$fromDesktop} {
    height: var(--size-huge);
  }
}
