@import '../../styles/tools/mixins/font.scss';

.kontaktua {
  display: flex;
}

.helbidea {
  border-right: 3px solid var(--color);
  padding-right: var(--size-small);
  margin-right: var(--size-small);
  @include tinyFont;
}

.sareSozialak {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.sareSoziala {
  width: var(--size-base);
  height: var(--size-base);

  &:not(:last-child) {
    margin-right: var(--size-small);
  }
}

.twitter {
  width: var(--size-base);
  height: var(--size-base);

  path {
    transition: fill 0.4s ease;
    fill: var(--color);
  }

  &:hover {
    path {
      fill: var(--hover-color);
    }
  }
}

.instagram {
  width: var(--size-base);
  height: var(--size-base);

  path {
    transition: fill 0.4s ease;
    fill: var(--color);
  }

  &:hover {
    path {
      fill: var(--hover-color);
    }
  }
}
