@import '../functions.scss';

@mixin tinyFont() {
  font-size: #{toRem(12.64)};
  line-height: #{toRem(17)};
}

@mixin smallFont() {
  font-size: #{toRem(16)};
  line-height: #{toRem(22)};
}

@mixin baseFont() {
  font-size: #{toRem(18)};
  line-height: #{toRem(24)};
}

@mixin largeFont() {
  font-size: #{toRem(25.63)};
  line-height: #{toRem(35)};
}

@mixin hugeFont() {
  font-size: #{toRem(36.41)};
  line-height: #{toRem(50)};
}

@mixin gargantuanFont() {
  font-size: #{toRem(41.83)};
  line-height: #{toRem(57)};
}
