:root {
  --color-beltza: #191919;
  --color-urdina: #8fbbfd;
  --color-morea: #510dfb;
  --color-horia: #fdb201;
  --color-gorria: #fd3647;
  --color-zuria: #ffffff;

  --color-grisa-1: #474747;
  --color-grisa-2: #707070;
  --color-grisa-3: #999999;
  --color-grisa-4: #c2c2c2;
}
