@import '../tools/functions.scss';

:root {
  --space-none: #{toRem(0)};
  --space-xtiny: #{toRem(4)};
  --space-tiny: #{toRem(8)};
  --space-small: #{toRem(12)};
  --space-mini: #{toRem(16)};
  --space-base: #{toRem(24)};
  --space-medium: #{toRem(32)};
  --space-large: #{toRem(48)};
  --space-xlarge: #{toRem(64)};
  --space-huge: #{toRem(96)};
}
