---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type { Hasiera } from "../models/Hasiera";
import Logo from "../assets/labaLogo.svg";
import ZigZag from "../components/ZigZag.astro";
import { getCollection } from "astro:content";
import { getShortDate, type Ekintza } from "../models/Ekintza";

const { izenburua } = await fetchApi<Hasiera>({
  endpoint: "hasiera",
});

const ekintzakCollection = await getCollection("ekintzak");
const ekintzak: Ekintza[] = ekintzakCollection.map(({ data }) => data);
---

<Layout title={izenburua}>
  <header></header>

  <main class="main">
    <section class="hero">
      <Logo class="logo" aria-title="Laba" />
    </section>

    <ZigZag from="marroia" />

    <section class="agenda">
      <div class="agenda-wrapper">
        <h2 class="title">Agenda</h2>

        <ul class="ekintzak-zerrenda">
          {
            ekintzak.map((ekintza) => (
              <li class="ekintzak-elementua">
                <>
                  <span>{ekintza.izenburua}</span>
                  <span>{getShortDate(ekintza)}</span>
                </>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <ZigZag from="gorria-background" to="gorria" />

    <section class="izan-labazkide">
      <div class="labazkide-wrapper">
        <h2 class="title">Izan Labazkide</h2>

        <p>
          Labako bazkideak dira proiektuaren oinarria: haiek izanen dira Labaren
          berme ekonomikoa. Bazkideek urteko batzar orokorrean parte hartuko
          dute, barne informazioa jasoko dute eta aukera izanen dute erabakietan
          parte hartzeko. Gainera, Labak antolatutako jardueretan abantailak
          izanen dituzte bazkideek.
        </p>

        <p>
          Urtean 120€ ordainduko dute bazkideek. Kontuan izan bazkide ekarpena
          errentaren aitorpenean %80a desgrabatu dezakezula.
        </p>
      </div>
    </section>

    <ZigZag from="gorria" to="gorria-background" />

    <section class="parte-hartu">
      <h2 class="title">Proiektuan parte hartu nahi dut</h2>
    </section>
  </main>

  <ZigZag from="gorria-background" to="marroia" />

  <footer class="footer">
    <Logo class="footer-logo" />
  </footer>
</Layout>

<style lang="scss">
  :root {
    --zuria: #ffffff;
    --gorria: #ff3e3e;
    --gorria-background: #fffbfb; // gorriari %5 opazitatea fondo zurian
    --marroia: #4b2125;
  }

  .main {
    background-color: var(--gorria-background);
  }

  .hero {
    min-height: 97dvh;
    display: flex;
    align-items: flex-end;
    padding: 48px;

    background-color: var(--marroia);
    color: var(--gorria);
  }

  .logo {
    height: 33dvh;
  }

  .agenda {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 24px;
    padding: 148px 48px 148px 48px;

    color: var(--gorria);
  }

  .agenda-wrapper {
    grid-column: col-start 5 / -1;
  }

  .izan-labazkide {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 24px;
    padding: 148px 48px 148px 48px;

    background-color: var(--gorria);
    color: var(--zuria);
  }

  .labazkide-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;

    grid-column: col-start 4 / span 6;
  }

  .parte-hartu {
    display: flex;
    justify-content: center;
    padding: 148px 48px 148px 48px;

    color: var(--marroia);
  }

  .title {
    font-family: "Sohne", sans-serif;
    font-size: 49px;
    line-height: 110%;
  }

  .footer {
    padding: 48px;

    background-color: var(--marroia);
    color: var(--gorria);
  }

  .footer-logo {
    height: 56px;
  }

  .ekintzak-zerrenda {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 24px;

    list-style-type: none;
    padding: 0;
  }

  .ekintzak-elementua {
    display: inline-flex;
    gap: 16px;
    justify-content: space-between;

    font-family: "Sohne", sans-serif;
    font-size: 21px;
    line-height: 110%;
  }
</style>
