---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type { Hasiera } from "../models/Hasiera";

const { izenburua } = await fetchApi<Hasiera>({
  endpoint: "hasiera",
});
---

<Layout title={izenburua}>
  <h1>{izenburua}</h1>
</Layout>
