---
import "../styles/cssConfig.scss";
import '@fontsource/martel';
import {Gainburua} from '../components/Gainburua'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <Gainburua 
      izenburua="Laba gara" 
      deskribapena="Talde zabala gara, kopuruz zein izaeraz. Euskararekin eta euskal kulturarekin beste proiektu batzuetan parte hartzen dugu askok, baina bagara euskalgintzaren egituretatik aparte zeuden beste asko. Gazteak gara asko, baina beteranoak ere bagara. Ez baikara zerotik sortu, baina infinitua dugu amets. Eta zurekin, gertuago izanen da." 
      atala="hasiera"
    />
  </body>
</html>

<style lang="scss">
  @use '../styles/tools/mixins/font.scss' as *;
  
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Martel Sans', sans-serif;

    @include baseFont;
    font-weight: 700;

    color: var(--color-beltza);
  }
</style>
