---
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type { Hasiera } from "../interfaces/Hasiera";

const { izenburua } = await fetchApi<Hasiera>({
  endpoint: "hasiera", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title={izenburua}>
  <h1>{izenburua}</h1>
</Layout>
