---
import "../styles/cssConfig.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container">
      <h1 class="header">Astro</h1>
      <p>Kaixo, Mundua!</p>
    </div>
  </body>
</html>

<style lang="scss">
  @use "../styles/tools/mixins/container.scss" as *;


  .container {
    @include container;
  }

  .header {
    color: var(--color-gorria);
  }
</style>
