---
import "../style/config/reset.scss";
import "../style/vars/index.scss";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "" } = Astro.props;
---

<!doctype html>
<html lang="eu">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title} | Laba</title>

    {description && <meta name="description" content={description} />}

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content="eu" />
    <meta name="fediverse:creator" content="@labasarea@mastodon.eus" />
  </head>

  <body>
    <slot />
  </body>
</html>

<style lang="scss">
  @use "../style/mixins/textFonts.scss";

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;

    @include textFonts.bodyFont;

    &.no-scroll {
      overflow: hidden;
    }
  }
</style>

<style is:global>
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
