@import 'settings';
@import 'generic';
@import 'tools';
@import 'utilities';

@import './tools/mixins/font.scss';

html {
  scroll-behavior: smooth;
}

body {
  /* OHARRA: Logoan eta irudi korporatiboan Söhne familia erabili da */
  font-family: 'Lato', sans-serif;

  @include baseFont;
  font-weight: var(--font-weight-bold);

  color: var(--color-beltza);
}
